header {
    text-align: center;
    background-color: black;
    color: yellow;
    margin: 5px; 
    
}

#addxp {
    align-items: center;
    width: 100%;
}

.list-group {
 display: flex;
 justify-content: center;
 padding: 0;
 font-size: 25px;
 
}
   


.experienceBar {
    display: flex;
    align-items: center;
    float: center;
    width: 100%;
    background-color: #243bcd;
    overflow: hidden;
    padding: 15px;
    text-align: center;
}

.level-container {
    display: flex;
    align-items: center;
    margin-left: 10px;
    float: center;
}

.experienceFill {
    background-color: rgb(170, 31, 31);
    height: 20px;
    width: 0;
    transition: width 0.5s;
}

h3 {
    margin-right: 10px;
}